// breakpoints

$screen-sm: 576px;   // Small screens (up to 576px)
$screen-md: 768px;   // Medium screens (up to 768px)
$screen-lg: 992px;   // Large screens (up to 992px)

@mixin small-screen {
    @media (max-width: #{$screen-sm}) {
      @content;
    }
  };
  
  @mixin md-screen {
    @media (min-width: $screen-sm) and (max-width: #{$screen-md}) {
      @content;
    }
  };
  
  
  @mixin lg-screen {
    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      @content;
    }
  };
  
// colors

$clr-primary-100: #fafafa;
$clr-primary-300: #f1f1f1;
$clr-primary-400: #d87d4a;
$clr-primary-600: #101010;

$clr-neutral-100: #ffffff;
$clr-neutral-300: #000000;
$clr-neutral-400: #fbaf85;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Manrope:wght@400;500;700;800&display=swap');

$font-weight: (400, 500, 700 ,800);

// mixins

@mixin centered-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
