@import "./abstract";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Manrope", sans-serif;
  // background-color: #fafafa;
  // leaving it as black for now
  // background: $clr-primary-600;
  position: relative;
}
.container {
  width: min(1110px,100% - 3rem);
  margin: auto;
}
