@import '../../style/abstract';

.category-cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  margin: auto;
}

@include md-screen {
  .category-cards__container {
    gap: 0.625rem;
  }
}

@media (max-width: 600px) {
  .category-cards__container {
    grid-template-columns: 1fr;
  }
}
