@import "../../style/abstract";

nav {
  @include centered-flex;
  width: 83%;
  margin: auto;
  gap: 10px;
  padding: 32px 0px;
  border-bottom: 1px hsla(0, 0%, 100%, 0.2) solid;
}

.nav__logo {
  font-weight: 800;
}

.nav__items {
  @include centered-flex;
  color: $clr-neutral-100;
  font-size: 0.81rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.nav__item {
  padding: 0px 12px;
  color: $clr-neutral-100;

  &:hover {
    color: $clr-primary-400;
  }
}

.cart-icon__container {
  padding: 10px;
  cursor: pointer;
}

.menu-icon__container {
  display: none;
}

// media queries

@include small-screen {
  nav {
    width: 100%;
    padding: 22px 20px;
  }

  .nav__logo {
    flex: unset;
    padding: 0px 10px;
  }

  .nav__items {
    display: none;
  }

  .menu-icon__container {
    display: block;
  }
}

@include md-screen {
  nav {
    width: 100%;
  }

  .nav__logo {
    flex: 1;
    padding: 0px 10px;
  }

  .nav__items {
    display: none;
  }

  .menu-icon__container {
    display: block;
  }
}


@include lg-screen {
  nav {
    width: 100%;
    }
}
